.card {
    margin: 1vh 1vw;
    position: relative;
    height: 32vh;
    width: 15vw;
    border-radius: 45px;
    background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
    box-shadow: 10px 10px 8px #888888;
}

.p-img{
    margin: 1vh 1vw;
    position: relative;
    object-fit: fill;
    height: 20vh;
    width: 13vw;
    border-radius: 45px;
}

.p-ans {
    position: relative;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: larger;
    border: 0px;
    border-radius: 45px;
    outline: none;
    color: black;
    font-weight: bold;
    width: 90%;
    margin-left: 5%;
    background: transparent;
}
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Smooch&display=swap');

.edit-btn, .remove-btn{
    height: 3vh;
    width: 6vw;
    margin-left: 1vw;
    margin-top: 1vh;
    border-radius: 45px;
    border: 0px;
    font-family: 'Indie Flower', cursive;
    font-size: large;
    background-color: black;
    color: white;
    transition: all 0.5s;
}

.edit-btn:hover, .remove-btn:hover {
    color: black;
    background-color: plum;
}
